*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}
.App{
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:30px;
}

.grocery-bud{
  width: 60%;
  padding:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:12px;
  box-shadow: 0 0 5px rgb(209, 207, 207);
}

.listitem{
  width: 65%;
  padding: 20px;
 

}
input{
 
  padding:3px;
  

}
.add-item-wrapper{
  width: 70%;
 
}
.add-item{
  width: 65%;
  height:30px;
  margin-left: 50px;
  border:1px solid grey;
}
.item{
  
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content:space-between ;
  padding:15px;
  box-shadow: 2px 2px 5px rgb(102, 139, 173);
 
 
}
button{
  width:90px;
  height:30px;
  padding:5px;
  border: none;
  color:white;
  background-color:#14afa8;
  border:1px solid grey;

}
.delete-btn{
  padding:5px;
  border: none;
  color:white;
  background-color: black;

}



@media (max-width:500px) {
  .grocery-bud{
    width: 100%;
  }
}
